@import "./variables.scss";

::ng-deep html,
::ng-deep body {
    font: 14px "Kanit-Regular", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #000 !important;
    font-weight: 600 !important;
}
::ng-deep .container-fluid {
    position: absolute;
    height: 100%;
    overflow: auto;
    padding-right: 0!important;
    padding-left: 0!important;
}
::ng-deep h1, h4, h5, h6 {
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: normal !important;
}
::ng-deep h2 {
    font-size: 18px !important;
    margin: 0 !important;
    font-weight: 300 !important;
}
::ng-deep h3 {
    font-size: 16px !important;
    margin: 0 !important;
    font-weight: 300 !important;
}
::ng-deep .form-control {
    // -webkit-border-radius: 0px !important;
    // -moz-border-radius: 0px !important;
    // border-radius: 0px !important;
    height: 35px !important;
    padding: 6px 12px !important;
    background-color: #fff !important;
    border: 1px solid #c2cad8 !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    font: 14px "Kanit-Regular", Helvetica, Arial, sans-serif !important;
    font-weight: 600 !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #333 !important;
}
::ng-deep .form-control::-webkit-input-placeholder {
    font-size: 14px !important;
} /* WebKit, Blink, Edge */
::ng-deep .form-control:-moz-placeholder {
    font-size: 14px !important;
} /* Mozilla Firefox 4 to 18 */
::ng-deep .form-control::-moz-placeholder {
    font-size: 14px !important;
} /* Mozilla Firefox 19+ */
::ng-deep .form-control:-ms-input-placeholder {
    font-size: 14px !important;
} /* Internet Explorer 10-11 */
::ng-deep .form-control::-ms-input-placeholder {
    font-size: 14px !important;
} /* Microsoft Edge */
::ng-deep .card {
    margin-top: 0.3em !important;
    // -webkit-border-radius: 0px;
    // -moz-border-radius: 0px;
    // border-radius: 0px;
}
::ng-deep .card-block {
    text-align: left;
}
::ng-deep .page-title {
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: $primary-dark;
    text-align: center;
}
::ng-deep .margin-top-5 {
    margin-top: 5px !important;
}
::ng-deep .margin-top-20 {
    margin-top: 20px !important;
}
::ng-deep .margin-top-30 {
    margin-top: 20px !important;
}
::ng-deep .margin-bottom-5 {
    margin-bottom: 5px !important;
}
::ng-deep .margin-bottom-10 {
    margin-bottom: 10px !important;
}
::ng-deep .margin-bottom-15 {
    margin-bottom: 15px !important;
}
::ng-deep .margin-bottom-20 {
    margin-bottom: 20px !important;
}
::ng-deep .margin-left-5 {
    margin-left: 5px !important;
}
::ng-deep .padding-top-3 {
    padding-top: 3px !important;
}
::ng-deep .padding-top-5 {
    padding-top: 5px !important;
}
::ng-deep .padding-top-10 {
    padding-top: 10px !important;
}
::ng-deep .btn.blue:not(.btn-outline) {
    color: #fff;
    background-color: #3598dc;
    border-color: #3598dc;
}
::ng-deep .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
::ng-deep .btn {
    outline: 0 !important;
}
::ng-deep .btn,
.form-control {
    box-shadow: none !important;
}
::ng-deep .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700 !important;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 2px !important;
}
::ng-deep .btn.green:not(.btn-outline) {
    color: #fff;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
::ng-deep .btn.default:not(.btn-outline) {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec;
}
::ng-deep .btn.primary-lighter:not(.btn-outline) {
    color: #fff;
    background-color: $primary-lighter;
    border-color: $primary-lighter;
}
::ng-deep .btn.primary-light:not(.btn-outline) {
    color: #fff;
    background-color: $primary-light;
    border-color: $primary-light;
}
::ng-deep .btn.primary-dark:not(.btn-outline) {
    color: #fff;
    background-color: $primary-dark;
    border-color: $primary-dark;
}
::ng-deep .btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
::ng-deep .btn.gray:not(.btn-outline) {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
::ng-deep .form-actions {
    // background: 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 20px;
}
// ::ng-deep .btn-small {
//     width: 60px !important;
// }

// ::ng-deep .btn-medium {
//     width: 100px !important;
// }
// ::ng-deep .btn-large {
//     width: 200px !important;
// }
::ng-deep .form-control {
    outline: 0 !important;
}
::ng-deep .btn,
::ng-deep .form-control {
    box-shadow: none !important;
}
::ng-deep .checkbox label:after {
    content: "";
    display: table;
    clear: both;
}
::ng-deep .checkbox .cr {
    position: relative;
    border: 1px solid #a9a9a9;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: 0.5em;
}
::ng-deep .checkbox .cr .cr-icon {
    position: absolute;
    font-size: 0.8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
::ng-deep .checkbox label input[type="checkbox"] {
    display: none;
}
::ng-deep .checkbox label input[type="checkbox"] + .cr > .cr-icon {
    opacity: 0;
}
::ng-deep .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    opacity: 1;
}
::ng-deep .checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: 0.5;
}
::ng-deep .margin-top-5 {
    margin-top: 5px !important;
}
::ng-deep .margin-top-10 {
    margin-top: 10px !important;
}
::ng-deep .btn {
    outline: 0 !important;
}
::ng-deep .btn,
::ng-deep .form-control {
    box-shadow: none !important;
}
::ng-deep .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44 !important;
}
::ng-deep .table th {
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    padding: 0.6rem !important;
}
::ng-deep .table td {
    padding: 0.5rem !important;
}
::ng-deep .btn {
    outline: 0 !important;
}
::ng-deep .btn,
::ng-deep .form-control {
    box-shadow: none !important;
}
::ng-deep .btn.btn-outline.dark {
    border-color: #2f353b !important;
    color: #2f353b !important;
    background: 0 0 !important;
}
::ng-deep .btn.btn-outline.red {
    border-color: red !important;
    color: red !important;
    background: 0 0 !important;
}
::ng-deep .btn.btn-outline.default {
    border-color: #ccc !important;
    color: #ccc !important;
    background: 0 0 !important;
}
::ng-deep .btn.btn-outline.blue {
    border-color: #337ab7 !important;
    color: #337ab7 !important;
    background: 0 0 !important;
}
::ng-deep .table .btn {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
::ng-deep .btn-circle {
    border-radius: 25px !important;
    overflow: hidden !important;
    padding: 4px 7px !important;
}
::ng-deep .btn-group-xs > .btn,
::ng-deep .btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}
::ng-deep .has-error .form-control,
::ng-deep .has-error .btn.calendar,
::ng-deep .has-error .bootstrap-select .btn:not(.btn-sm):not(.btn-lg) {
    border-color: #e73d4a !important;
}
::ng-deep .help-block.with-errors {
    font-size: 80% !important;
    color: #e73d4a !important;
    margin-top: 0.25rem !important;
}
::ng-deep .combobox .dropdown-menu {
    max-height: 150px !important;
    overflow-y: auto !important;
}
::ng-deep .custom-select {
    max-height: 150px !important;
    overflow-y: auto !important;
}
::ng-deep .dropdown-menu {
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font: 14px "Kanit-Regular", Helvetica, Arial, sans-serif !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
::ng-deep .dropdown-menu > button {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
::ng-deep .btn-group > .dropdown-menu:after,
::ng-deep .dropdown-toggle > .dropdown-menu:after,
::ng-deep .dropdown > .dropdown-menu:after {
    position: absolute;
    top: -7px;
    left: 10px;
    right: auto;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: "";
}
::ng-deep .text-nowrap {
    white-space: nowrap;
}
::ng-deep .text-wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
::ng-deep .break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
::ng-deep .loading {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
::ng-deep .loading span {
    position: fixed;
    left: 50%;
    top: 50%;
    border: solid 1px #ccc;
    display: block;
    padding: 20px 40px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.8);
}
::ng-deep #dvLoading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url($base-url+"/assets/images/ajax-loader.gif") no-repeat center
        #fff;
    text-align: center;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #fff;
    z-index: 10000;
    overflow: auto;
    opacity: 0.4;
}
::ng-deep input[readonly] {
    background-color: #e9ecef !important;
}
::ng-deep .table thead th {
    background-color: #edeeef !important;
    text-align: center !important;
}
::ng-deep .table-bordered td,
::ng-deep .table-bordered th {
    border: 1px solid #dcdcdc !important;
}
::ng-deep .table-bordered td {
    font-weight: 600 !important;
    border-style: dashed !important;
}
::ng-deep .footer-actions {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // margin-bottom: 50px;
}
::ng-deep .ext-footer-actions {
    position: relative !important;
    width: 100% !important;
    height: 50px !important;
    left: 0 !important;
    right: 0 !important;
}
::ng-deep .form-page {
    margin-bottom : 100px!important;
}
::ng-deep .form-data {
    // margin-bottom : 100px!important;
    width: 94% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
::ng-deep .form-horizontal .control-label {
    text-align: left !important;
}
::ng-deep .font-bold {
    color: $primary-light;
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
::ng-deep .clearfix {
    clear: both !important;
}
::ng-deep .btn-group-sm > .btn,
::ng-deep .btn-sm {
    padding: 0.2rem 0.4rem !important;
}
::ng-deep .input-group-addon {
    .btn:not(.btn-sm):not(.btn-lg) {
        line-height: 1.7 !important;
        border-radius: 0 !important;
    }
}
::ng-deep .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
::ng-deep .icon-oncokb {
    background: url($base-url+"/assets/images/oncokb-oncogenic-1.png") no-repeat
        center !important;
    display: block;
    height: 20px;
}
::ng-deep span.text-center,
::ng-deep span.text-right {
    display: block !important;
}
::ng-deep .tooltip.primary .tooltip-inner {
    background-color: #31b0d5;
}
::ng-deep .tooltip.primary.top > .tooltip-arrow {
    border-top-color: #337ab7;
}
::ng-deep .tooltip.primary.right > .tooltip-arrow {
    border-right-color: #337ab7;
}
::ng-deep .tooltip.primary.bottom > .tooltip-arrow {
    border-bottom-color: #337ab7;
}
::ng-deep .tooltip.primary.left > .tooltip-arrow {
    border-left-color: #337ab7;
}
::ng-deep .tooltip.info .tooltip-inner {
    color: #333 !important;
    background-color: #ebdef0;
}
::ng-deep .tooltip.info.top > .tooltip-arrow {
    border-top-color: #ebdef0;
}
::ng-deep .tooltip.info.right > .tooltip-arrow {
    border-right-color: #ebdef0;
}
::ng-deep .tooltip.info.bottom > .tooltip-arrow {
    border-bottom-color: #ebdef0;
}
::ng-deep .tooltip.info.left > .tooltip-arrow {
    border-left-color: #ebdef0;
}
::ng-deep .tooltip.success .tooltip-inner {
    background-color: #449d44;
}
::ng-deep .tooltip.success.top > .tooltip-arrow {
    border-top-color: #449d44;
}
::ng-deep .tooltip.success.right > .tooltip-arrow {
    border-right-color: #449d44;
}
::ng-deep .tooltip.success.bottom > .tooltip-arrow {
    border-bottom-color: #449d44;
}
::ng-deep .tooltip.success.left > .tooltip-arrow {
    border-left-color: #449d44;
}
::ng-deep .tooltip.warning .tooltip-inner {
    background-color: #ec971f;
}
::ng-deep .tooltip.warning.top > .tooltip-arrow {
    border-top-color: #ec971f;
}
::ng-deep .tooltip.warning.right > .tooltip-arrow {
    border-right-color: #ec971f;
}
::ng-deep .tooltip.warning.bottom > .tooltip-arrow {
    border-bottom-color: #ec971f;
}
::ng-deep .tooltip.warning.left > .tooltip-arrow {
    border-left-color: #ec971f;
}
::ng-deep .tooltip.danger .tooltip-inner {
    background-color: #d9534f;
}
::ng-deep .tooltip.danger.top > .tooltip-arrow {
    border-top-color: #d9534f;
}
::ng-deep .tooltip.danger.right > .tooltip-arrow {
    border-right-color: #d9534f;
}
::ng-deep .tooltip.danger.bottom > .tooltip-arrow {
    border-bottom-color: #d9534f;
}
::ng-deep .tooltip.danger.left > .tooltip-arrow {
    border-left-color: #d9534f;
}
::ng-deep .tooltip .tooltip-inner {
    text-align: left !important;
    font-size: 12px !important;
}
::ng-deep .custom-file-input {
    height: 50px !important;
}
::ng-deep .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px) !important;
    margin: 0;
    opacity: 0;
}
::ng-deep .custom-file-label,
::ng-deep .custom-file-label::after {
    height: auto !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
::ng-deep .custom-file-label {
    width: 95% !important;
    border: 1px solid #c2cad8 !important;
}
::ng-deep .box {
    border-radius: 3px;
    border: 1px solid #d6dbdf;
    padding: 5px;
    margin-bottom: 20px;
}
::ng-deep .color-blue {
    color: $color-blue;
}
::ng-deep .color-grey {
    color: $color-grey;
}
::ng-deep hr.side {
    border-top: 1px solid $grey;
}
::ng-deep .bootstrap-select .dropdown-menu li a {
    line-height: 24px !important;
}
::ng-deep .bootstrap-select {
    width: 100% !important;
}
::ng-deep .bootstrap-select .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.6 !important;
    border-radius: 5px !important;
    border: 1px solid #c2cad8 !important;
    background: #fff !important;
}
::ng-deep .card {
    margin-top: 0.3em !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
::ng-deep .card-header:first-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
::ng-deep .card-body {
    border-top: 1px solid #D2D2E0 !important;
}
::ng-deep .card-header {
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-color: #F0F0F3 !important;
    // padding: 0.5rem 1.25rem;
    border: none !important;
}
::ng-deep .card-header a {
    color: #594F74 !important;
}
::ng-deep .card-block {
    text-align: left;
}
::ng-deep .card-header > a {
    display: block;
    position: relative;
}
::ng-deep .card-header > a::before {
    content: "\f054"; /* fa-chevron-right */
    font-family: "FontAwesome";
    position: absolute;
    // left: 0;
}
::ng-deep .card-header > a[aria-expanded="true"]::before {
    content: "\f078"; /* fa-chevron-down */
}
::ng-deep .card-form {
    margin-bottom: 10px !important;
    .card-header {
        font-weight: 700 !important;
        font-size: 16px !important;
        background: #D2D2E0 !important;

        a {
            color: #594F74 !important;
            text-decoration: none !important;
        }

        a > span {
            padding-left: 40px;
        }
    }
    .card-body {
        border: 1px solid #F0F0F3;
    }
}
::ng-deep svg.box__icon {
    width: 100%;
    height: 80px;
    fill: #1c8adb;
    display: block;
    margin-bottom: 40px;
}
::ng-deep .uploadfile-outer {
    width: 100%;
    height: 250px;
    background-color: #d4ecfd !important;
    padding: 10px;
    opacity: 0.8;
}
::ng-deep .uploadfile-inner {
    border: 2px dashed #1c8adb;
    height: 100%;
}
::ng-deep .uploadfile-container {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='43' viewBox='0 0 50 43'><path fill='rgb(28,138,219)' d='M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z'></path></svg>");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    height: 225px;
    width: 100%;

    div {
        position: relative;
        float: left;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #1c8adb;
        font-size: 15px;
    }
}
::ng-deep .uploadfile-container:hover {
    cursor: pointer;
}
::ng-deep .file-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    border-bottom: 1px dashed #cccccc;
    padding: 10px 0;
    font-weight: 700;
}
::ng-deep .file-list .file-detail:first-child {
    border-top: 1px dashed #cccccc;
}
::ng-deep .file-detail .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}
::ng-deep .img {
    border: 0 !important;
}
::ng-deep .modal-header {
    padding: 0.5rem 1rem !important;

    h4 {
        font-size: 18px !important;
    }
}
::ng-deep .modal-footer {
    padding: 0.5rem 1rem !important;
}
::ng-deep .margin-top-50 {
    margin-top: 50px !important;
}
::ng-deep .figure {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    cursor: hand;
}
::ng-deep .caption {
    display: none;
    position: absolute;
    left: 0;
    // bottom: 5px;
    right: 0;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.15);
}
::ng-deep .figure:hover img {
    opacity: 0.5;
}
::ng-deep .figure:hover .caption {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
::ng-deep .text-sm {
    font-size: 12px;
    color: gray;
}
::ng-deep small {
    font-weight: 500 !important;
}
::ng-deep .modal-title {
    color: $color-blue !important;
    font: 14px "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
::ng-deep .sub-text {
    padding-top: 5px;
    display: block;
}
::ng-deep .modal-lg {
    max-width: 900px !important;
}
::ng-deep .padding-left-10 {
    padding-left: 10px !important;
}
::ng-deep .padding-left-15 {
    padding-left: 15px !important;
}
::ng-deep .padding-left-20 {
    padding-left: 20px !important;
}
::ng-deep .padding-bottom-10 {
    padding-bottom: 10px !important;
}
::ng-deep .checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}
::ng-deep .checkbox .cr, .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}
::ng-deep .radio .cr {
  border-radius: 50%;
}
::ng-deep .checkbox .cr .cr-icon, .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 13%;
}
::ng-deep .radio .cr .cr-icon {
  margin-left: 0.04em;
}
::ng-deep .checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}
::ng-deep .checkbox label input[type="checkbox"]+.cr>.cr-icon, .radio label input[type="radio"]+.cr>.cr-icon {
  opacity: 0;
}
::ng-deep .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon, .radio label input[type="radio"]:checked+.cr>.cr-icon {
  opacity: 1;
}
::ng-deep .checkbox label input[type="checkbox"]:disabled+.cr, .radio label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

::ng-deep .badge-cloud-purple {
    font-size: 14px !important;
    font-family: "Kanit-Bold", Helvetica, Arial, sans-serif !important;
    color: #594F74 !important;
    background-color: #D2D2E0 !important;
    padding: 10px;
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

::ng-deep .form-required-field {
    color: $error-text !important;
    font-size: 20px !important;
}

::ng-deep .subtitle {
    color: $color-blue;
    font-weight: 700;
}

::ng-deep fieldset.border {
    // border: 1px groove #ddd !important;
    // padding: 0 1.4em 1.4em 1.4em !important;
    // margin: 0 0 1.5em 0 !important;
    // -webkit-box-shadow:  0px 0px 0px 0px #000;
    //         box-shadow:  0px 0px 0px 0px #000;
    border: 2px solid $grey !important;
    border-style: solid none none none !important;
    width: 94% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

::ng-deep .border legend {
    font-size: 16px;
    font-family: 'Kanit-Bold';
    text-align: left !important;
    width: auto;
    padding-right: 10px;
    color: $primary-light;
}

::ng-deep .col-form-label, ::ng-deep .label-title {
    color: $primary-light !important;
}

::ng-deep .modal {
    top: 30% !important;
}
