.subheader {
    font-size: 14px !important;
    margin: 5px 0 5px -20px !important;
    font-weight: bold !important;
    color: #635F98;
}
::ng-deep .disabled {
    input {
        pointer-events: none;
        background-color: #ddd !important;
    }
}
